{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Site Administration</h1>
        <ul>
            <li><a href="{{ path('booking_index') }}">Bookings</a></li>
            <li><a href="{{ path('event_index') }}">Events</a></li>
            <li><a href="{{ path('act_index') }}">Acts</a></li>
            <li><a href="{{ path('performer_index') }}">Performers</a></li>
        </ul>
        <a href="{{ path('admin_info') }}">Edit my personal information</a>
    </div>
{% endblock %}