{% extends 'base.html.twig' %}

{% block title %}Performer index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Performer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Picture</th>
                <th>Biography</th>
                <th>Acts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for performer in performers %}
            <tr>
                <td>{{ performer.id }}</td>
                <td>{{ performer.name }}</td>
                <td>{{ performer.nationality }}</td>
                <td>{% if performer.picture is not null %}
                        ok
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>{{ performer.biography }}</td>
                <td>{% for act in performer.acts %}
                        {{ act.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('performer_edit', {'id': performer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('performer_new') }}">Create new</a>
    <br><br>
    <a href="{{ path('admin_index') }}">Back to admin</a>
</div>
{% endblock %}
