{% extends 'base.html.twig' %}

{% block title %}Performer index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Performer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Picture</th>
                <th>Biography</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performer in performers %}
            <tr>
                <td>{{ performer.id }}</td>
                <td>{{ performer.name }}</td>
                <td>{{ performer.nationality }}</td>
                <td>{{ performer.picture }}</td>
                <td>{{ performer.biography }}</td>
                <td>
                    <a href="{{ path('performer_show', {'id': performer.id}) }}">show</a>
                    <a href="{{ path('performer_edit', {'id': performer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('performer_new') }}">Create new</a>
</div>
{% endblock %}
