{% extends 'base.html.twig' %}

{% block title %}Our Performers{% endblock %}

{% block body %}
    <div class="gallery performers">
        <h1>Our Performers</h1>
        <p class="intro">Meet our talented performers,
            who come from all around the world,
            and who give it their all for each and every show !
        </p>
        <div class="card-ctn">
            {% for performer in performers %}
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">From {{ performer.nationality }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ performer.name }}</h4>
                    <img src="{{ asset('/uploads/img/' ~ performer.picture) }}">
                    <br>
                    <p class="card-text">{{ performer.biography }}</p>
                    <p>Associated acts :</p>
                    <ul>
                    {% for act in performer.acts %}
                       <li>{{ act.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
